date;attributs;titre;description
2018-08-01 10:09:39;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Pas de bord arrondi pour le premier tag de la liste;app/Resources/views/base.html.twig | 2 +-\n web/css/main.css | 4 ++++\n 2 files changed, 5 insertions(+), 1 deletion(-)
2018-07-31 23:04:21;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Ajout du mois en cours dans les périodes;app/Resources/views/base.html.twig | 2 +-\n web/js/main.js | 3 ++-\n 2 files changed, 3 insertions(+), 2 deletions(-)
2018-07-25 09:31:25;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Suppression d'un tag d'une activité en cliquant dessus;app/Resources/views/Activity/list.html.twig | 4 +--\n app/Resources/views/Tag/button_small.html.twig | 2 +-\n app/Resources/views/base.html.twig | 2 +-\n app/Resources/views/default/index.html.twig | 8 +++--\n src/AppBundle/Controller/ActivityController.php | 41 +++++++++++++++++++++----\n src/AppBundle/Controller/DefaultController.php | 8 +++--\n src/AppBundle/Form/ActivityTagDeleteType.php | 39 +++++++++++++++++++++++\n web/js/main.js | 25 +++++++++++++--\n 8 files changed, 112 insertions(+), 17 deletions(-)
2018-07-18 12:55:48;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;"Ajout du ""mois dernier"" dans la séléction de la période d'affichage des\n activités";app/Resources/views/base.html.twig | 2 +-\n web/js/main.js | 1 +\n 2 files changed, 2 insertions(+), 1 deletion(-)
2018-07-13 19:00:59;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Corrections de deprecated;src/AppBundle/Controller/FilterController.php | 5 +++--\n src/AppBundle/Controller/TagController.php | 9 +++++----\n src/AppBundle/Form/FilterType.php | 6 +++---\n src/AppBundle/Form/TagType.php | 7 ++++---\n 4 files changed, 15 insertions(+), 12 deletions(-)
2018-07-13 10:19:50;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Permet l'ajout d'un tag depuis la création d'un filtre;app/Resources/views/base.html.twig | 2 +-\n src/AppBundle/Controller/FilterController.php | 11 ++++----\n src/AppBundle/Entity/Filter.php | 5 ----\n src/AppBundle/Form/FilterType.php | 40 ++++++++++++++++++++++++---\n web/js/main.js | 26 ++++++++++++++++-\n 5 files changed, 68 insertions(+), 16 deletions(-)
2018-07-09 18:11:11;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Modification d'un filtre même interface que pour les tags;app/Resources/views/Filter/edit.html.twig | 39 +++++++++++++-------\n app/Resources/views/Filter/index.html.twig | 17 +--------\n app/Resources/views/Filter/list.html.twig | 16 +++++++++\n app/Resources/views/Filter/new.html.twig | 17 ---------\n app/Resources/views/Filter/show.html.twig | 32 -----------------\n src/AppBundle/Controller/FilterController.php | 52 ++++-----------------------\n 6 files changed, 49 insertions(+), 124 deletions(-)
2018-07-07 01:04:22;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Script de migration au nouveau schema;migrate/migration.php | 56 +++++++++++++++++++++++++++++++++++++++++++++++++++\n 1 file changed, 56 insertions(+)
2018-07-07 01:03:06;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;"Utilisation du ""parameter"" path pour tous les importer";src/AppBundle/Importer/Caldav/CaldavImporter.php | 4 ++--\n src/AppBundle/Importer/Feed/FeedImporter.php | 14 +++++++-------\n src/AppBundle/Importer/ICalendar/ICalendarImporter.php | 6 +++---\n tests/FeedImporterTest.php | 4 ++--\n tests/ICalendarTest.php | 4 ++--\n 5 files changed, 16 insertions(+), 16 deletions(-)
2018-07-04 19:57:41;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Protection du titre générique;src/AppBundle/Entity/Source.php | 2 +-\n 1 file changed, 1 insertion(+), 1 deletion(-)
2018-07-04 19:57:13;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Le bouton visu est toujours activé;app/Resources/views/Activity/list.html.twig | 2 --\n 1 file changed, 2 deletions(-)
2018-07-04 19:55:25;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Rollback du précédent commit;src/AppBundle/Entity/Source.php | 5 -----\n 1 file changed, 5 deletions(-)
2018-07-04 19:02:09;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Réactivation de l'importer caldav;app/config/services.yml | 2 +-\n 1 file changed, 1 insertion(+), 1 deletion(-)
2018-07-04 18:52:21;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Fixe migration source;src/AppBundle/Entity/Source.php | 5 +++++\n 1 file changed, 5 insertions(+)
2018-07-04 18:37:46;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Contrôle du répertoire sur le méthode getPath;src/AppBundle/Importer/Git/GitImporter.php | 4 ++--\n 1 file changed, 2 insertions(+), 2 deletions(-)
2018-07-04 18:36:40;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;On prend la source si pas de parameters;src/AppBundle/Importer/Git/GitImporter.php | 5 +++++\n 1 file changed, 5 insertions(+)
2018-07-03 01:26:14;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;La branch est ajouté comme attribut pour un commit et les commits\n intégrés lors d'un merge sont récupéres dans le contenu de l'activité;src/AppBundle/Importer/Git/GitImporter.php | 44 ++++++++++++++++++------------\n src/AppBundle/Importer/Git/bin/git2csv.sh | 6 ++--\n tests/GitImporterTest.php | 23 ++++++++++++----\n 3 files changed, 48 insertions(+), 25 deletions(-)
2018-06-13 10:29:02;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Suppression de fichier de test commité par erreur;test | 1 -\n test2 | 1 -\n 2 files changed, 2 deletions(-)
2018-06-13 10:24:55;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Export de la conf en yml et ajout d'une route pour l'afficher;app/Resources/views/base.html.twig | 1 +\n app/Resources/views/default/config.html.twig | 32 +\n app/config/services.yml | 4 +\n src/AppBundle/Config/ConfigExporter.php | 53 +\n src/AppBundle/Controller/DefaultController.php | 10 +\n src/AppBundle/Entity/Filter.php | 8 +\n src/AppBundle/Entity/Source.php | 34 +\n src/AppBundle/Entity/Tag.php | 10 +\n tests/ConfigExporterTest.php | 68 +\n web/bower_components/codemirror/codemirror.css | 346 +\n web/bower_components/codemirror/codemirror.js | 9685 ++++++++++++++++++++++++\n web/bower_components/codemirror/yaml-lint.js | 41 +\n web/bower_components/codemirror/yaml.js | 119 +\n web/css/main.css | 2 +-\n 14 files changed, 10412 insertions(+), 1 deletion(-)
2018-06-13 00:52:59;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Suppression de command non utilisé;composer.json | 2 --\n src/AppBundle/Command/ActivityAddCommand.php | 40 -----------------------\n src/AppBundle/Command/ExecuteOneCommand.php | 35 --------------------\n src/AppBundle/Command/FilterAddCommand.php | 43 -------------------------\n src/AppBundle/Command/FilterExecuteCommand.php | 38 ----------------------\n src/AppBundle/Command/FiltersExecuteCommand.php | 30 -----------------\n src/AppBundle/Command/ImporterCommand.php | 40 -----------------------\n src/AppBundle/Command/SourceAddCommand.php | 39 ----------------------\n src/AppBundle/Command/SourceExecuteCommand.php | 39 ----------------------\n src/AppBundle/Command/SourcesExecuteCommand.php | 30 -----------------\n src/AppBundle/Command/TagAddCommand.php | 38 ----------------------\n 11 files changed, 374 deletions(-)
2018-06-13 00:38:26;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Mise à jour de la description de l'importer git;src/AppBundle/Importer/Git/GitImporter.php | 2 +-\n 1 file changed, 1 insertion(+), 1 deletion(-)
2018-06-13 00:36:42;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Suppression de l'importer pour github;app/config/services.yml | 4 -\n src/AppBundle/Importer/Github/GithubImporter.php | 195 -----------------------\n 2 files changed, 199 deletions(-)
2018-06-13 00:35:09;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Permet la récupération des commits d'une repository git distant;.gitignore | 1 +\n app/config/services.yml | 2 +-\n src/AppBundle/Importer/Git/GitImporter.php | 37 ++++++++++++++++++---\n tests/GitImporterTest.php | 52 +++++++++++++++++++++++++++++-\n tests/tmp/test | 1 -\n 5 files changed, 86 insertions(+), 7 deletions(-)
2018-06-13 00:28:01;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;test2;test2 | 1 +\n 1 file changed, 1 insertion(+)
2018-06-12 18:44:33;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;test;tests/tmp/test | 1 +\n 1 file changed, 1 insertion(+)
2018-06-12 18:42:54;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;test;test | 1 +\n 1 file changed, 1 insertion(+)
2018-06-12 18:23:04;Type:Commit,Repository:monactivite.git,Author:utilisateur@mail.com,Branch:master;Import des commits depuis une branche;src/AppBundle/Importer/Git/GitImporter.php | 26 ++++++++++---\n src/AppBundle/Importer/Git/bin/git2csv.sh | 17 ++++++---\n tests/GitImporterTest.php | 59 +++++++++++++++++++++++-------\n 3 files changed, 78 insertions(+), 24 deletions(-)
